CONFIG_AUTOSTART_ARDUINO=y
CONFIG_FREERTOS_HZ=1000
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="16MB"
# Enable ESP-SR Audio Front End
CONFIG_AFE_MIC_NUM=1
CONFIG_AFE_RINGBUF_SIZE=8192
CONFIG_DSP_OPTIMIZED_MATH=y
CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
